#content{
    width: 500px;
    margin-left: 50px;
}

.body {
    border: 1px solid #000;
    font-size: 8px!important;
    font-family: 'Time New Romance';
    width: 500px;
    
}

.row {
    width: 500px;
    display: block;
    overflow: auto;
    line-height: 1.8;
    margin-left: 5px;
}

.rLeft{
    width: 350px;
    float: left;
}
.rRight {
    width: 100px;
    float: left;
}

.rLeft1,
.rCenter,
.rRight1 {
    width: 160px;
    float: left;
    
}

hr {
    border-color: black;
}
th{
    text-align: left;
}
ul{margin-bottom: 0px;}