<div class="container-fluid page">
    <div class="page_box p-3 mt-2">User Guide</div>
    <div class="page_content shadow p-3 position-relative">

        <div class="row">
            <div class="col-md-6">
                <h2>Recording APA</h2>
                <br />
                <video id="apa" class='video-js vjs-default-skin' controls preload="auto" width="500" 
                    data-setup='{"fluid": true, "autoplay":true,"html5": {"vhs": {"overrideNative": true},"nativeAudioTracks": false,"nativeVideoTracks": false}}'>
                    <source src="assets/apa.webm" />
                </video>
            </div>
            <div class="col-md-6">
                <h2>First Line APA Evaluation</h2>
                <br />
                <video id="first" class='video-js vjs-default-skin' controls preload="auto" width="500" 
                    data-setup='{"fluid": true, "autoplay":true,"html5": {"vhs": {"overrideNative": true},"nativeAudioTracks": false,"nativeVideoTracks": false}}'>
                    <source src="assets/apafirst.webm" />
                </video>
            </div>
        </div>
        <div class="row">
            
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Second Line APA Evaluation</h2>
                <br />
            <video id="third" class='video-js vjs-default-skin' controls preload="auto" width="500"
                data-setup='{"fluid": true, "autoplay":true,"html5": {"vhs": {"overrideNative": true},"nativeAudioTracks": false,"nativeVideoTracks": false}}'>
                <source src="assets/apasecond.webm" />
            </video>
            </div>
        </div>



    </div>
</div>